body{
    background-color: #c2e81a;
}
h1{
    color:rgb(255, 0, 0);
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width: 5px;
    width5%;
}
P{color:#1b0cbb;}

